{% extends "/layouts/base.html" %}

{% block about %}
<h1>Heather Kirkconnell, Organist

  Heather Kirkconnell was born in Charlottesville, VA but grew up in Gainesville, FL.  A Floridian at heart, she enjoys Florida wildlife and landscapes, and of course the beach.  She moved to Ohio in 2006 to study organ and French at Oberlin College and Conservatory.  After graduation, she moved to Paris, France for two years to study and live.

  Her hobbies include knitting, sewing, gardening and reading.  She especially likes knitting socks.  She enjoys riding her bike everywhere, and camping in good weather.  Of her favorite composers, Duruflé, Bach and Franck certainly make the list, with everyone else close behind.  Heather is especially interested in Renaissance and Baroque music, and how the theology of that time influenced the timeless sacred pieces that we still enjoy today

  Heather is incredibly blessed to be able to serve through leading the music we use in worship each week.  Throughout her studies, sacred music has been incredibly important to her, and she is thrilled to use her talents in the service of the Church.

Heather is eager to teach music, and incorporates this desire into her work with the Chancel Choir and her accompaniment in church singing.  She is also available for private lessons and small group classes.</h1>
{% endblock %}
