{% extends "/layouts/base.html" %}

{% block header %}
<a href="#about">Heather Kirkconnell</a>
{% endblock %}

{% block menu %}
<ul>
  <li>
    <a href="#about">About</a>
  </li>
  <li>
    <a href="#philosophy">Philosophy</a>
  </li>
  <li>
    <a href="#contact">Contact</a>
  </li>
</ul>
{% endblock %}

{% block about %}
<h1 id="about">
  Heather Kirkconnell was born in Charlottesville, VA but grew up in 
  Gainesville, FL.  Floridian at heart, she enjoys Florida wildlife and 
  landscapes, and of course the beach.  She moved to Ohio in 2006 to study 
  organ and French at Oberlin College and Conservatory.  After graduation, 
  she moved to Paris, France for two years to study and live.  Her hobbies 
  include knitting, sewing, gardening and reading.  She especially likes 
  knitting socks.  She enjoys riding her bike everywhere, and camping in good 
  weather.  Of her favorite composers, Duruflé, Bach and Franck certainly 
  make the list, with everyone else close behind.  Heather is especially 
  interested in Renaissance and Baroque music, and how the theology of that 
  time influenced the timeless sacred pieces that we still enjoy today.  
  Heather is incredibly blessed to be able to serve through leading the music 
  we use in worship each week.  Throughout her studies, sacred music has been 
  incredibly important to her, and she is thrilled to use her talents in the 
  service of the Church.  Heather is eager to teach music, and incorporates 
  this desire into her work with choirs and her accompaniment in 
  church settings.  She is also available for private lessons and small group 
  classes. 
</h1>
{% endblock %}

{% block philosophy %}
<h1 id="philosophy">
  When it comes to teaching, performing, or just interacting with people, 
  Heather believes in a "My way, or your way, but preferably my way" 
  approach.  She also likes to dance and jump around to music.  Above all 
  else: fun must always be had at all times.
</h1>
{% endblock %}

{% block contact %}
<h1 id="contact">
  <p>Living in this modern day and age Heather regularly enjoys the benefits 
    of smartphones and constant connectivity.</p>
  <p>Don't be shy if you have any questions!</p>
  <p>Send all inquires to:</p>
  <a href="mailto:hkirkcon@gmail.com">hkirkcon@gmail.com</a>
  <p>Or, leave a  message in her Google Voice mailbox:</p>

</h1>

{% endblock %}

{% block footer %}
<h1>
  &copy by Farnsworth 2014
</h1>
{% endblock %}
