{% extends "/layouts/base.html" %}

{% block header %}
<h1>Heather Kirkconnell</h1>
{% endblock %}

{% block menu %}
<ul>
  <li>
    <a href="#about">About</a>
  </li>
  <li>
    <a href="#philosophy">Philosophy</a>
  </li>
  <li>
    <a href="#events">Events</a>
  </li>
  <li>
    <a href="#contact">Contact</a>
  </li>
</ul>
{% endblock %}

{% block about %}
<h1 id="about">
  11111
  Heather Kirkconnell was born in Charlottesville, VA but grew up in 
  Gainesville, FL.  A Floridian at heart, she enjoys Florida wildlife and 
  landscapes, and of course the beach.  She moved to Ohio in 2006 to study 
  organ and French at Oberlin College and Conservatory.  After graduation, 
  she moved to Paris, France for two years to study and live.  Her hobbies 
  include knitting, sewing, gardening and reading.  She especially likes 
  knitting socks.  She enjoys riding her bike everywhere, and camping in good 
  weather.  Of her favorite composers, Duruflé, Bach and Franck certainly 
  make the list, with everyone else close behind.  Heather is especially 
  interested in Renaissance and Baroque music, and how the theology of that 
  time influenced the timeless sacred pieces that we still enjoy today.  
  Heather is incredibly blessed to be able to serve through leading the music 
  we use in worship each week.  Throughout her studies, sacred music has been 
  incredibly important to her, and she is thrilled to use her talents in the 
  service of the Church.  Heather is eager to teach music, and incorporates 
  this desire into her work with the Chancel Choir and her accompaniment in 
  church singing.  She is also available for private lessons and small group 
  classes. 
</h1>
{% endblock %}

{% block philosophy %}
<h1 id="philosophy">
  22222
  Heather Kirkconnell was born in Charlottesville, VA but grew up in 
  Gainesville, FL.  A Floridian at heart, she enjoys Florida wildlife and 
  landscapes, and of course the beach.  She moved to Ohio in 2006 to study 
  organ and French at Oberlin College and Conservatory.  After graduation, 
  she moved to Paris, France for two years to study and live.  Her hobbies 
  include knitting, sewing, gardening and reading.  She especially likes 
  knitting socks.  She enjoys riding her bike everywhere, and camping in good 
  weather.  Of her favorite composers, Duruflé, Bach and Franck certainly 
  make the list, with everyone else close behind.  Heather is especially 
  interested in Renaissance and Baroque music, and how the theology of that 
  time influenced the timeless sacred pieces that we still enjoy today.  
  Heather is incredibly blessed to be able to serve through leading the music 
  we use in worship each week.  Throughout her studies, sacred music has been 
  incredibly important to her, and she is thrilled to use her talents in the 
  service of the Church.  Heather is eager to teach music, and incorporates 
  this desire into her work with the Chancel Choir and her accompaniment in 
  church singing.  She is also available for private lessons and small group 
  classes.
  
</h1>
{% endblock %}

{% block events %}
<h1 id="events">
  33333
  Heather Kirkconnell was born in Charlottesville, VA but grew up in 
  Gainesville, FL.  A Floridian at heart, she enjoys Florida wildlife and 
  landscapes, and of course the beach.  She moved to Ohio in 2006 to study 
  organ and French at Oberlin College and Conservatory.  After graduation, 
  she moved to Paris, France for two years to study and live.  Her hobbies 
  include knitting, sewing, gardening and reading.  She especially likes 
  knitting socks.  She enjoys riding her bike everywhere, and camping in good 
  weather.  Of her favorite composers, Duruflé, Bach and Franck certainly 
  make the list, with everyone else close behind.  Heather is especially 
  interested in Renaissance and Baroque music, and how the theology of that 
  time influenced the timeless sacred pieces that we still enjoy today.  
  Heather is incredibly blessed to be able to serve through leading the music 
  we use in worship each week.  Throughout her studies, sacred music has been 
  incredibly important to her, and she is thrilled to use her talents in the 
  service of the Church.  Heather is eager to teach music, and incorporates 
  this desire into her work with the Chancel Choir and her accompaniment in 
  church singing.  She is also available for private lessons and small group 
  classes.
  
</h1>
{% endblock %}

{% block contact %}
<h1 id="contact">
  44444
  Heather Kirkconnell was born in Charlottesville, VA but grew up in 
  Gainesville, FL.  A Floridian at heart, she enjoys Florida wildlife and 
  landscapes, and of course the beach.  She moved to Ohio in 2006 to study 
  organ and French at Oberlin College and Conservatory.  After graduation, 
  she moved to Paris, France for two years to study and live.  Her hobbies 
  include knitting, sewing, gardening and reading.  She especially likes 
  knitting socks.  She enjoys riding her bike everywhere, and camping in good 
  weather.  Of her favorite composers, Duruflé, Bach and Franck certainly 
  make the list, with everyone else close behind.  Heather is especially 
  interested in Renaissance and Baroque music, and how the theology of that 
  time influenced the timeless sacred pieces that we still enjoy today.  
  Heather is incredibly blessed to be able to serve through leading the music 
  we use in worship each week.  Throughout her studies, sacred music has been 
  incredibly important to her, and she is thrilled to use her talents in the 
  service of the Church.  Heather is eager to teach music, and incorporates 
  this desire into her work with the Chancel Choir and her accompaniment in 
  church singing.  She is also available for private lessons and small group 
  classes.
  
</h1>
{% endblock %}

{% block footer %}
<h1>
  &copy by Farnsworth 2014
</h1>
{% endblock %}
