{% extends "/layouts/base.html" %}

{% block index %}
<p>
  Heather Kirkconnell grew up in a large Presbyterian (USA) congregation with 
  vibrant music and education programs.  Through her participation in choirs, 
  handbell ensembles, and the Montreat Worship and Music Conference, she 
  realized early on that she was called to be a church musician.
</p>
<p>
  Her studies brought her to Oberlin, OH where she completed a B.A. in French 
  and a B.Mus. in Organ Performance, with a minor in Historical Performance.  
  During her time at the Oberlin College and Conservatory, Heather's spiritual 
  life was fed through her participation at Peace Community Church and the 
  campus group Ecumenical Christians of Oberlin.  Both of these communities 
  offered her new ways to think about God, new music with which to praise God, 
  and many wonderful opportunities to serve.  During her undergraduate studies, 
  Heather also had many opportunities to play in local churches: Episcopalian, 
  Lutheran, Baptist, UCC, and others.  
</p>
<p>
  After a study abroad opportunity in Paris, Heather made the decision to move 
  to France post-graduation.  She won a scholarship to study French baroque 
  music with Jean-Baptiste Robin at the Conservatoire à Rayonnement Régional 
  de Versailles in Versailles, France.  She had many opportunities to play 
  concerts on fantastic historical instruments in Paris and Versailles, 
  including the Chapelle Royale in the Château de Versailles.
</p>
<p>
  Alongside Heather's keyboard studies, she has maintained active 
  participation in excellent choirs and bell choirs, and takes great joy in 
  sharing music with children.  To her current post as the Organist and Choir 
  Director at First Congregational United Church of Christ, Elyria, Heather 
  brings much experience working with children and adults in choral 
  environments.  She has always had a love of teaching and nurturing 
  everyone's inherent musical expression.
</p>
{% endblock %}


