{% extends "/layouts/base.html" %}

{% block philosophy %}
<p>
  Music was first introduced to me as part of my religious upbringing.  For 
  me, music is personal and communal.  I phase in and out of public performing, 
  sometimes making music just for me, and then rediscovering the joy of making 
  music with or for others.  Whatever the circumstances, music always takes me 
  back to God, the Creator Spiritus, who inspires our human creativity.  
</p>
<p> 
  I believe that musical expression is as natural as language learning, but that 
  many of us have had experiences in art and music that convince us it is 
  difficult, inaccessible or otherwise only for a privileged few.  But we 
  often forget how long it takes to master a language, even  our 
  native tongue!  If we view music as a language, and accept the requirements 
  of learning a language as being similar to that of learning music, we soon 
  see just how omnipresent and accessible music can and should be.
</p>
<p>
  Often it take years of study to begin seeing the “results” we expect in music.  
  However, music making at any level is a satisfying endeavor, the only “result” 
  that I believe bears any consideration.  I take great care to approach 
  music students in a challenging but encouraging manner.  I believe we all 
  benefit when high expectations are set and the slow process of reaching 
  them is supported by the teacher or director.  
</p>
<p>
  Practically speaking, 
  everyone has different strengths and ways of learning.  Whether teaching 
  privately or in a group, I take great care to incorporate many learning 
  styles and push the limits of how we learn.  In order to be a better 
  educator, I try to learn music in as many ways as I can: visually, aurally, 
  through movement, and through various other interdisciplinary studies.  
  All of my students will find themselves engaging in musical studies in 
  these ways and more.  
</p>
<p>
  As a church musician, I see my biggest role as that 
  of educator: making music more accessible so that congregations can focus 
  on worship rather than how and what to sing or play.  As choral director, 
  I help the choir to lead and support the congregation just as my 
  accompaniments also serve that purpose.  I don't believe in top-down 
  leadership of music ministry because congregational song is the time for 
  everyone to glorify God.  I hope to instead lift up the offering so that 
  all feel invited to participate.  
</p>
<p>
  Lastly, I believe that by exploring new genres of worship music and teaching 
  new songs, congregations are encouraged to explore the full range of human 
  experiences of the Divine, and with that experience comes a greater 
  appreciation for the theology and purpose of worship.  While I realize that 
  statement may first evoke “contemporary” new music, we often forget the vast 
  repertoire of old “new” music, a particular favorite of mine.
</p>
{% endblock %}
