{% extends "/layouts/base.html" %}

{% block resume %}
<div class="res-pdf">
  <p>Download Heather's</p>
  <a href="/static/HK_CV.pdf" target="_blank">Resume PDF</a>
</div>
<h1 class="res-section">Education</h1>
<h2>Conservatoire à Rayonnement Régional de Versailles, France</h2>
<ul>
  <li>Diplôme de Perfectionnement, 2013</li>
</ul>
<h2>Oberlin College and Conservatory</h2>
<ul>
  <li>BA in French, 2011</li>
  <li>BA in Organ Performance, 2011</li>
  <li>Minor in Harsichord, Historical Performance, 2011</li>
</ul>

<h1 class="res-section">Scholarships</h1>
<h2>Harriet Hale Woolley Scholarship, 2011</h2>
<ul>
  <li>A competitive scholarship for American musicians and artists pursuing
    independent study and performance projects in Paris, France.</li>
</ul>
<h2>Beall Scholarship, 2010</h2>
<ul>
  <li>Scholarship for Presbyterian (USA) women studying visual or performing 
    arts.</li>
</ul>
<h2>Adith P. Horner French Prize, 2010</h2>
<ul>
  <li>Scholarship for oustanding performance in French studies.</li>
</ul>

<h1 class="res-section">Work Experience</h1>
<h2>Director of Music, First Cong. UCC, Elyria Ohio, 2013 - present</h2>
<ul>
  <li>Provide vision, support, and direction in worship and music.  Conduct
    and accompany the Chancel Choir and children's choirs, support and aid 
    adult Handbell Choir.  Assist in worship planning and supporting lay
    leaders in musical roles.</li>
</ul>
<h2>Private Music Teacher, 2010 - present</h2>
<ul>
  <li>Keyboard, general music, and beginning vocal studies.  Provide weekly 
    lessons focusing on healthy technique, musical expression, and enjoyment 
    of music.</li>
</ul>
<h2>Organ Technician, 2007 - 2011</h2>
<ul>
  <li>Assist Hal Gober, Resident Builder and Curator of Organs, in the tuning 
    and maintanance of Oberlin Conservatory's numerous organs.  Gained 
    extensive knowledge of organ building techniques, schools, and trends.</li>
</ul>

<h1 class="res-section">Relevant coursework and skills</h1>
<h2>French Language</h2>
<ul>
  <li>More than ten years study, including multiple years in France.  
    Fluent.</li>
</ul>
<h2>Choral Conducting, 2012 - 2013</h2>
<ul>
  <li>Weekly study with Valérie Josse focusing on vocal warm-up, conducting, 
    rehearsal, and repertoire techniques for all levels.</li>
</ul>
<h2>Music Composition, 2011 - 2013</h2>
<ul>
  <li>Studies with Jean-Baptiste Robin focused on problems and techniques of 
    tonal music composition in various historical styles.</li>
</ul>
<h2>Obelrin College Choir, 2007 - 2010</h2>
<ul>
  <li>Auditioned 40 voice touring choir conducted by Hugh Floyd.  Performances 
    of <em>Peer Gynt</em> (sung in Norwegian) with the Cleveland Orchestra, 
    large variety of repertoire from the sixteenth through twenty-first
    centuries, sung in English, German and Church Latin, French, Russian, 
    German, among others.</li>
</ul>
<h2>Dalcroze Eurythmics, 2011 - 2014</h2>
<ul>
  <li>Multiple courses exploring the teachings of Jaques Dalcroze.  Focus on 
    inner rhythmic development, improvisation, and internalization of 
    musicality, musical structure, and other characteristics of tonal and 
    post-tonal music.</li>
</ul>

<h1 class="res-section">Studies with</h1>
<h2>Organ</h2>
<ul>
  <li>Mark Coffey, 2003 - 2006</li>
  <li>David Boe, 2006 - 2008</li>
  <li>Marie-Louise Langlais, 2008</li>
  <li>Jack Mitchener, 2009 - 2011</li>
  <li>Jean-Baptise Robin, 2011 - 2013</li>
  <li>Noël Hazebrouqc (improvisation), 2012 - 2013</li>
</ul>
<h2>Harpsichord</h2>
<ul>
  <li>Webb Wiggins, 2006 - 2011</li>
  <li>Lisa Goode Crawford, 2011 - 2014</li>
</ul>
<h2>Masterclasses</h2>
<ul>
  <li>Olivier Latry</li>
  <li>Pieter Van Dijk</li>
  <li>Theo Jellema</li>
  <li>James David Christie</li>
</ul>
{% endblock %}
