<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Heather Kirkconnell
    </title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head>
  <body>
    <div class="container">
      <div class="head-wrap">
        <header>
          <img src="/static/headshot.jpg"/>
          <a href="/">Heather Kirkconnell</a>
        </header>
        <menu>
          <ul>
            <li>
              <a href="/">About</a>
            </li>
            <li>
              <a href="/philosophy">Philosophy</a>
            </li>
            <li>
              <a href="/static/HK_CV.pdf" target="blank">Resume</a> 
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </menu>
      </div>
      <div class="content-wrap">
        <div class="page-content">
          {% block index %}
          {% endblock %}
          {% block about %}
          {% endblock %}
          {% block philosophy %}
          {% endblock %}
          {% block events %}
          {% endblock %}
          {% block contact %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>

