<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Heather Kirkconnell
    </title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head>
  <body>
    <div class="head-nav">
      <div id="header">
        {% block header %}
        {% endblock %}
      </div>
      <div id="menu">
        {% block menu %}
        {% endblock %}
      </div>
    </div>
    <div class="page-content">
      <div id="about">
        {% block about %}
        {% endblock %}
      </div>
      <div id="philosophy">
        {% block philosophy %}
        {% endblock %}
      </div>
      <div id="events">
        {% block events %}
        {% endblock %}
      </div>
      <div id="contact">
        {% block contact %}
        {% endblock %}
      </div>
      <div id="footer">
        {% block footer %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>

