/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ################################################# */
html, body {
  height: 100%;
  width: 100%;
  background-color: #4ecdc4;
}
.wrap {
  width: 950px;
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: -20px;
}
.wrap:after {
  content: "";
  display: block;
  height: 20px;
}
.head-nav {
  width: 250px;
  text-align: right;
  background-color: #e4f1fe;
  -webkit-border-radius: 25px 25px 0 25px;
     -moz-border-radius: 25px 25px 0 25px;
          border-radius: 25px 25px 0 25px;
  margin: 25px 25px 0 25px;
  padding: 25px;
  float: left;
}
.head-nav a {
  text-decoration: none;
  color: #22313f;
}
.head-nav a:active {
  color: #4ecdc4;
}
#header {
  font-size: 300%;
}
#menu {
  font-size: 200%;
}
.page-content {
  min-height: 200px;
  font-size: 150%;
  text-align: justify;
  padding: 50px 25px 25px 50px;
}
@media screen and (max-width: 640px) {
  .wrap { width: 440px; }
}
@media screen and (max-width: 640px) {
  .head-nav { width: 100%;
              text-align: center; 
              margin: 25px;
              margin: 0 auto;
              float: none; }
}
footer {
  height: 20px;
  text-align: center;
  clear: both;
}
footer h1 {
  display: inline;
}

